/vendor
/.vagrant
phpunit.xml
/Homestead.yaml
/Homestead.json
/mysqldump.sql.gz
/mysql_backup
/postgres_backup
/user-customizations.sh
.phpunit.result.cache
wsl-init.log
.backup/*
.idea/workspace.xml
.idea/php.xml
.idea/vcs.xml
.idea/homestead.iml
.idea/modules.xml
ca.homestead.homestead.crt
