language: php

php:
  - 7.0
  - 7.1

before_script:
  - composer install --no-interaction

script:
  - vendor/bin/phpunit

matrix:
  include:
    - php: 5.6
      env: dependencies=lowest
  allow_failures:
    - php: 5.6

