---
ip: "192.168.10.10"
memory: 4096
cpus: 2
provider: virtualbox
ssl: true
authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: [Platform Manager Directory on Host Machine]
      to: /home/vagrant/platform-manager

    - map: [RV Trip Wizard Directory on Host Machine]
      to: /home/vagrant/rvtw

    - map: [Campground Reviews Directory on Host Machine]
      to: /home/vagrant/cgr

    - map: [Campground Reviews Admin Directory on Host Machine]
      to: /home/vagrant/cgr-admin

    - map: [Homestead Directory on Host Machine]
      to: /home/vagrant/homestead
      
    - map; [RV Life Profile Directory on Host Machine]
      to: /home/vagrant/profile

sites:
   - map: local.rvlife.com
     to: /home/vagrant/platform-manager/public
     php: "7.3"
     type: "apache"

   - map: my-local.rvlife.com
     to: /home/vagrant/platform-manager/public
     php: "7.3"
     type: "apache"

   - map: local.rvtripwizard.com
     to: /home/vagrant/rvtw/backend/public
     php: "7.4"
     type: "apache"
     
   - map: dev-cypress.rvtripwizard.com
     to: /home/vagrant/rvtw/backend/public
     php: "7.4"
     type: "apache"     

   - map: local.campgroundreviews.com
     to: /home/vagrant/cgr/public
     php: "7.3"
     type: "apache"

   - map: api-local.campgroundreviews.com
     to: /home/vagrant/cgr/public
     php: "7.3"
     type: "apache"

   - map: admin-local.campgroundreviews.com
     to: /home/vagrant/cgr-admin/public
     php: "7.3"
     type: "apache"
     
   - map: profile-local.rvlife.com
     to: /home/vagrant/profile/build
     php: "7.3"
     type: "apache"     

databases:
    - platform_manager
    - rvparkreviews
    - rvtw

features:
    - mysql: true
    - mongodb: true
    - mariadb: false
    - postgresql: false
    - ohmyzsh: false
    - webdriver: false

name: SKDevBox
