---
name: homestead-unit3d
ip: "192.168.10.20"
memory: 2048
cpus: 2
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: ~/code/unit3d
      to: /home/vagrant/code

sites:
    - map: unit3d.local
      to: /home/vagrant/code/public

databases:
    - unit3d
    - unit3d_test

features:
    - mariadb: true
    - ohmyzsh: false
    - webdriver: false

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
